pre {
	border-left: 5px solid steelblue;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #F4F4F4;
	color: #333333;
	border-radius: 3px;
}

code {
	font-family: monospace;
	font-size: normal;
}

blockquote {
	border-left: 5px solid #DDDDDD;
	padding-left: 10px;
	background-color: #F4F4F4;
	border-radius: 3px;
	/*margin-left: 0;
	margin-right: 0;*/
}
