a:link {
	text-decoration: underline;
	color: #006dd0; /* #187bcd */
	cursor: pointer;
}

a:visited {
	color: olive;
}

a:hover {
	color: coral;
}

a:active {
	text-decoration: underline;
}
