a {
	text-decoration: none;
	color: #187bcd;
}

/*a:link {
	color: blue;
}*/

/*a:visited {
	color:blue;
}*/

a:hover {
	color: orange;
}

/*a:focus {
	color: green;
}*/

a:active {
	font-weight: bold;
}
