a:link {
	text-decoration: underline;
	color: #1352AB; /*#006dd0*/
	cursor: pointer;
}
a:visited {
	color: #290f6a;
}
a:hover {
	color: #ffb347;
}
a:active {
	text-decoration: underline;
}
