.navlist {
	float: right;
	list-style-type: none;
	display: block;
	padding: 0;
}

.navitem {
	display: inline-block;
}

.navlink:link {
	color: whitesmoke;
	background-color: steelblue; /* #e1e1e1 */
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px; 
	line-height: 25px;
	border-radius: 4px;
}

.navlink:visited {
	color: whitesmoke;
}

.navlink:hover {
	background-color: slategray;
	color: whitesmoke;
}

.navlink:active {
	background-color: darkslategray;
	color: whitesmoke;
}
